* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header {
    height: 100vh;
    background: url(../images/header.jpg) center center/cover;
}


.navbar {
    height: 80px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 0 25px;
    margin-bottom: 40px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    margin-right: 15px;
    color: #333;
    padding: 5px;
}

.navbar a:hover {
    border-bottom: 2px solid tomato;
}

.about-header {
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    
}

.about-header:before {
    content: '';
    background: url(../images/12.jpeg) center center/cover;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.para {
    color: whitesmoke;
    font-size: 65px;
    text-align: center;
}


.social a {
    color: rgba(245, 245, 245, 0.7);
    margin: 20px;
}

.social a:hover {
    color: rgba(202, 25, 25, 0.7);
}


.footer {
    background-color: #344444;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer .logo {
    color: wheat;
}

.contact h2 {
    padding: 16px 30px;
    color: whitesmoke;
    border: tomato 1px solid;
    border-radius: 5px;
}

.contact h2:hover {
    background-color: wheat;
    color: #333;
    border: tomato 3px solid;
}

@media(max-width: 800px){
    .navbar {
        height: 150px;
        margin-bottom: 150px;
    }

    .navbar .container {
        display: flex;
        flex-direction: column;
        padding: 35px 20px;
    }

    .main .para {
        font-size: 25px;
    }

    .social {
        display: flex;
    }

    .social a {
        font-size: 5px;
        margin-right: 5px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px){
    .navbar {
        margin-bottom: 200px;
    }

    .about-header {
        padding: 20px;
    }

    .main .para {
        font-size: 19px;
        line-height: 1.6;
    }

    .social {
        padding: 100px 0;
    }

    .social a i{
        font-size: 30px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }

    .footer .logo {
        margin-bottom: 20px;
    }
}